{% extends "account/base.html" %}
{% from "_macro.html" import render_field %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Log In</h1> 
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, 'username') }}
        {{ render_field(form.password, 'password') }}
        <div class="form-field">
            {{ form.submit(class='button') }}
        </div> 
    </form> 
    <div class="account-link"> 
        <a href="{{ url_for('main.index') }}">Back</a> 
    </div>
{% endblock %}