{% extends "account/base.html" %}
{% from "_macro.html" import render_field %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Sign Up</h1> 
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, 'username') }}
        {{ render_field(form.email, 'email') }}
        {{ render_field(form.password, 'password') }}
        {{ render_field(form.password_confirm, 'password_confirm') }}
        <div class="form-field">
            {{ form.submit(class='button') }}
        </div> 
    </form>
{% endblock %}