<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ hashed_url('assets/common.js') }}" type="text/javascript"></script>

</head>
<body>
<div class="account-wrapper">
    <div class="account-content">
        {% block content %}{% endblock %}
        {% for message in get_flashed_messages() %}
            <div class="message warning"> {{ message }}</div>
        {% endfor %}
    </div>
</div>
</body>
</html>