{% extends "dashboard/base.html" %}

{% block title %}撰写新文章{% endblock %}

{% block content %}

<div class="write-post">
        <h3>撰写文章</h3>
        <form method="post" action="" class="pure-form pure-form-stacked">
            {{ form.hidden_tag() }}
            <div class="pure-u-1-1">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class='pure-u-1') }}
            </div>

            <div class="pure-u-1">
                {% if form.content.errors %}
                    {% for error in form.content.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div id="editor-wrapper">
                    {{ form.content(id=editor_id) }}
                </div>
            </div>
            {{ form.submit(class='pure-button pure-button-primary') }}
            {{ form.save_draft(class='pure-button') }}
        </form>
</div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css"/>
<script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
<script type="text/javascript">
    var $ = function (id) {
        return document.getElementById(id)
    }
    var editor = new SimpleMDE({
        element: $("{{ editor_id }}"),
        spellChecker: false,
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        autosave: {
            enabled: true,
            unique_id: "{{ editor_id }}"
        }
    })

</script>
{% endblock %}
