{% extends "dashboard/base.html" %}
{% from "_macro.html" import render_field %}

{% block title %}撰写新文章{% endblock %}

{% block content %}

<div class="write-post">
        <h2>撰写文章</h2>
        <form class="form" action="" method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.title, 'title') }}
            <div class="form-field">
                <div id="editor-wrapper">
                    {{ form.content(id=editor_id) }}
                </div>
            </div>
            <div class="form-field">
                {{ form.submit(class='button') }}
                {{ form.save_draft(class='button button-primary') }}
            </div>
        </form>
</div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css"/>
<script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
<script type="text/javascript">
    var $ = function (id) {
        return document.getElementById(id)
    }
    var editor = new SimpleMDE({
        element: $("{{ editor_id }}"),
        spellChecker: false,
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        autosave: {
            enabled: true,
            unique_id: "{{ editor_id }}"
        }
    })

</script>
{% endblock %}
