<div class="header inverted pure-g">
    <div class="wrapper pure-u-1">
        <div class="menu-dashboard">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a href="{{ url_for('dashboard.index') }}" class="pure-menu-link">控制台</a></li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="{{ url_for('dashboard.write_post') }}" class="pure-menu-link">撰写</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="{{ url_for('dashboard.write_post') }}" class="pure-menu-link">撰写文章</a></li>
                            <li class="pure-menu-item"><a href="{{ url_for('dashboard.write_page') }}" class="pure-menu-link">创建页面</a></li>
                        </ul>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="{{ url_for('dashboard.manage_posts') }}" class="pure-menu-link">管理</a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item"><a href="{{ url_for('dashboard.manage_posts') }}" class="pure-menu-link">文章</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">独立页面</a></li>
                            <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">评论</a></li> -->
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">标签</a></li>
                            <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">文件</a></li> -->
                            <li class="pure-menu-item"><a href="{{ url_for('dashboard.user') }}" class="pure-menu-link">用户</a></li>
                        </ul>
                    </li>
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="{{ url_for('dashboard.index') }}" class="pure-menu-link">设置</a>
                        <ul class="pure-menu-children">
                            <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">基本</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">评论</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">阅读</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">永久链接</a></li> -->
                            <li class="pure-menu-item"><a href="{{ url_for('dashboard.profile') }}" class="pure-menu-link">个人资料</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-profile">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{{ url_for('dashboard.profile') }}">
                            <img src="{{ current_user.email|gravatar(26) }}" class="gravatar" alt="{{ current_user.nickname }}">
                        </a>
                    </li>
                    <!-- <li class="pure-menu-item"><a href="{{ url_for('main.index') }}" class="pure-menu-link">网站</a></li> -->
                    <li class="pure-menu-item"><a href="{{ url_for('main.logout') }}" class="pure-menu-link">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>