{% extends "dashboard/base.html" %}

{% block title %}概要{% endblock %}

{% block content %}
<div class="dashboard pure-g">
    <div class="wrapper pure-u-1 pure-u-md-4-5 pure-u-lg-3-5">
        <div class="board">
            <h3>网站概要</h3>
            <div class="welcome-board">
                    <p>目前有 <em>{{ posts.count() }}</em> 篇文章, 并有 <em>2</em> 条关于你的评论在 <em>2</em> 个分类中 <br>点击下面的链接快速开始:</p>
                    <ul class="clearfix">
                        <li><a href="{{ url_for('main.write_post') }}">撰写新文章</a></li>
                        <li><a href="#">系统设置</a></li>
                    </ul>
            </div>
            <div class="recent-board">
                <section class="latest-link pure-u-1-2">
                    <h3>最近发布的文章</h3>
                    <ul>
                    {% for post in posts[:10] %}
                        <li><span>{{ post.created|strftime('%m.%d') }}</span><a href="{{ url_for('main.post', post_id=post.id) }}" target="_blank">{{ post.title }}</a></li>
                    {% endfor %}
                    </ul>
                </section>
                <section class="latest-link pure-u-1-2">
                        <h3>最近得到的回复</h3>
                        <ul>
                            <li><span>5.10</span><a href="#comment-2" class="title" target="_blank"></a><a href="#"  target="_blank">piratecb</a>:卧槽 不错啊</li>
                        </ul>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
