{% extends "dashboard/base.html" %}
{% from "_macros.html" import render_manage_pagination %}

{% block title %}管理用户{% endblock %}

{% block content %}
<div class="manage-posts">
    <h3><a href="{{ url_for('dashboard.manage_users') }}">管理用户</a> <a href="{{ url_for('dashboard.user') }}">+</a></h3>
    <table class="list-table">
        <thead>
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>电子邮件</th>
                <th>用户组</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('dashboard.user', uid=user.id) }}">{{ user.username }}</a></td>
                <td>{{ user.nickname|default('', true) }}</td>
                <td><a href="mailto:{{ user.email }}" target="_blank">{{ user.email|default('', true) }}</a></td>
                <td>{{ user.group|capitalize }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_manage_pagination(pagination, 'dashboard.manage_users') }}
</div>
{% endblock %}
