{% extends "dashboard/base.html" %}
{% import "dashboard/_pagination.html" as macros %}

{% block title %}管理文章{% endblock %}

{% block content %}
<div class="manage-posts">
    <h3>管理文章 <a href="{{ url_for('dashboard.write_post') }}">新增</a></h3>
    <div class="table-wrap">
        <table class="list-table">
            <thead>
                <tr>
                    <th> </th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>分类</th>
                    <th>日期</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td> </td>
                    <td><a href="{{ url_for('dashboard.edit_post', post_id=post.id) }}">{{ post.title }}</a></td>
                    <td><a href="">{{ post.author.username }}</a></td>
                    <td><a href="">{{ post.metas[0] }}</a></td>
                    <td>{{ post.created|strftime('%m-%d') }}</td>
                    <td><a href="{{ url_for('dashboard.delete_post', post_id=post.id) }}" class="post-delete"> 删除 </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav class="pagination align-center">
    {{ macros.widget(pagination, 'dashboard.manage_posts') }}
    </nav>
</div>
{% endblock %}
