{% extends "dashboard/base.html" %}
{% from "_macros.html" import render_field %}

{% block title %}标签{% endblock %}

{% block content %}
<div class="update-meta pure-g">
    <div class="pure-u-1-5">
        <h3>标签</h3> 
        <form class="form" action="" method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.slug, 'slug') }}
            {{ render_field(form.name, 'name') }}
            {{ render_field(form.type, 'type') }}
            {{ render_field(form.description, 'description') }}
            <div class="form-field">
                {{ form.submit(class='button') }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
