{% extends "dashboard/base.html" %}

{% block title %}撰写新文章{% endblock %}

{% block content %}

<div class="post-draft">
        <form class="post-form" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="post-form-field title">
                {{ form.title(id=title) }}
            </div>
            <div class="post-form-field headline">
                {{ form.headline(id=headline) }}
            </div>
            <div class="post-form-field content">
                <div id="editor-wrapper">
                    {{ form.content(id=editor_id) }}
                </div>
            </div>
            <div class="form-field">
                {{ form.submit(class='button') }}
            </div>
        </form>
</div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css"/>
<script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>
<script type="text/javascript">
    var editor = new SimpleMDE({
        element: document.querySelector("#{{ editor_id }}"),
        spellChecker: false,
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        autosave: {
            enabled: true,
            unique_id: "{{ editor_id }}"
        },
        // toolbar: false
    })

</script>
{% endblock %}
