{% extends "dashboard/base.html" %}
{% from "_macro.html" import render_field %}

{% block title %}个人资料{% endblock %}

{% block content %}
<div class="update-user">
    <a href="https://gravatar.com/emails/" title="在 Gravatar 上修改头像" target="_blank"><img src="{{ current_user.email|gravatar(220) }}"></a>
    <h2>个人资料</h2> 
    <form class="form" action="" method="post">
        {{ profile_form.hidden_tag() }}
        {{ render_field(profile_form.email, 'email') }}
        {{ render_field(profile_form.nickname, 'nickname') }}
        <div class="form-field">
            {{ profile_form.submit(class='button') }}
        </div>
    </form>
    <h2>修改密码</h2>
    <form class="form" action="" method="post">
        {{ password_form.hidden_tag() }}
        {{ render_field(password_form.password, 'password') }}
        {{ render_field(password_form.password_confirm, 'password_confirm') }}
        <div class="form-field">
            {{ password_form.submit(class='button') }}
        </div>
    </form>
</div>
{% endblock %}
