{% extends "dashboard/base.html" %}
{% from "_macros.html" import render_field %}

{% block title %}个人资料{% endblock %}

{% block content %}
<div class="update-profile pure-g">
    <div class="pure-u-2-5 l-box">
        <div class="vcard">
            <a href="https://gravatar.com/emails/" title="在 Gravatar 上修改头像" target="_blank">
                <img src="{{ current_user.email|gravatar(220) }}" class="pure-img">
            </a>
            <h3>{{ current_user.username }}</h3>
        </div>
    </div>
    <div class="pure-u-2-5 l-box">
        <section>
            <h3>个人资料</h3> 
            <form class="form" action="" method="post">
                {{ form.hidden_tag() }}
                {{ render_field(form.email, 'email') }}
                {{ render_field(form.nickname, 'nickname') }}
                <div class="form-field">
                    {{ form.submit(class='button', value='更新我的档案') }}
                </div>
                <br>
                <h3>修改密码</h3>
                {{ render_field(form.password, 'password') }}
                {{ render_field(form.password_confirm, 'password_confirm') }}
                <div class="form-field">
                    {{ form.submit(class='button', value='更新密码') }}
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}
