{% extends "dashboard/base.html" %}
{% from "_macros.html" import render_field %}

{% block title %}编辑用户{% endblock %}

{% block content %}
<div class="update-user">
    <h2>编辑用户</h2> 
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, 'email') }}
        {{ render_field(form.nickname, 'nickname') }}
        {{ render_field(form.group, 'group') }}
        <div class="form-field">
            {{ form.submit(class='button') }}
        </div>
    </form>
</div>
{% endblock %}
