html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Georgia","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}

body {
    color: #444;
}

a {
    color: #111;
    word-wrap: break-word;
    text-decoration-color: rgba(0,0,0,.4);
}

::selection, .wrapper ::selection {
    background-color: #333;
    color: #f9f9f9;
}

.wrapper {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    zoom: 1;
    min-width: 400px;
 }

.wrapper:after {
    display: table;
    content: "";
    clear: both;
}

.wrapper h1 a, .wrapper h2 a, .wrapper h3 a {
    text-decoration: none;
}

.wrapper a:hover {
    color: #555;
}

.header {
    padding: 20px 0;
    border-bottom: 1px solid #f9f9f9;
 }

.header a {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-brand {
    float: left;
    font-weight: 300;
}

.menu-list {
    float: right;
    margin: 5px 0;
}

.menu-list li {
    list-style: none;
    float: left
}

.menu-list li a {
    font-size: 16px;
    margin-right: 15px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

.menu-list li a:hover {
    border-color: rgba(0,0,0,0.1);
}


.footer {
    padding: 10px 0 20px;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 13px;
    font-family: "Optima","Helvetica Neue",sans-serif;
}




.main {
    margin: 1em 0 2em;
}

.error {
    padding: 5em 0 7em;
}

/* index */
.post-item {
    margin: 25px 0 35px;
    line-height: 25px;
    min-height: 50px;
}

.post-item .post-meta {
    font-size: 14px;
    font-family: "Optima","Helvetica Neue",sans-serif;
    color: #999;
}

.post-item h2 {
    margin: 8px 0 12px;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}


/* post */
.post .post-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.post .post-title {
    margin: 0;
    padding-bottom: .6em;
    font-size: 32px;
    color: #222223;
}

.post .post-meta {
    font-size: 14px;
    font-family: "Optima","Helvetica Neue",sans-serif;
}

.post .post-content {
    padding-top: 2em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}

.post p {
    margin-top: 0;
    margin-bottom: 1em;
}

/* pagination */
.pagination {
    margin: 24px 0;
    font-size: 14px;
}

.pagination ul {
    display: flex;
    margin: 0;
}

.pagination.align-center ul {
    justify-content: center;
}

.pagination span,
  .pagination a {
    border-radius: 3px;
    display: inline-block;
    padding: 8px 12px;
    line-height: 1;
    white-space: nowrap;
    border: 1px solid transparent;
}

.pagination a {
    text-decoration: none;
    color: #313439;
}

.pagination a:hover {
    color: rgba(0, 0, 0, 0.5);
    border-color: #e0e1e1;
}

.pagination span,
  .pagination li.active a {
    color: rgba(0, 0, 0, 0.5);
    border-color: #e0e1e1;
    cursor: text;
}

.pagination.upper {
    font-size: 12px;
}

.pagination li {
    list-style: none;
    float: left
}