html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

button,input,select,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.75;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}[type=checkbox],[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.button {
    display: inline-block;
    text-decoration: none;
    color: #767676;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: background-color,color .2s ease;
    transition: background-color,color .2s ease;
    outline: 0
}

.button:hover {
    background-color: rgba(0,0,0,.98);
    color: #fff
}

.button-primary:hover {
    background-color: transparent;
    color: rgba(0,0,0,.64);
    border-color: rgba(0,0,0,.2);
}

.form-field {
    display: block;
    margin: 10px 0 20px
}

.form-field-content>span,.form-field-label {
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,.2)
}

.form-field-file img {
    vertical-align: middle;
    margin-right: 4px
}

.form-field input[type=email],.form-field input[type=password],.form-field input[type=text],
.form-field input[type=url],.form-field select {
    font-size: 14px;
    font-family: inherit;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    padding-top: 0.25rem;
}

.form-field select {
    background: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.form-field textarea {
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    outline: 0
}

.form-field input[type=email]:focus,.form-field input[type=password]:focus,.form-field input[type=text]:focus,.form-field input[type=url]:focus,.form-field textarea:focus {
    border-color: rgba(0,0,0,.2)
}

.form-field>ul {
    list-style: none;
    margin: 2px 0;
    padding: 0
}

.form-field li {
    padding: 2px 0
}

.form-field-info {
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,.42)
}

.form-field-errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgba(200,10,10,.6)
}