body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #495060;
}

a {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

#app,
.layout,
body,
html {
    width: 100%;
    height: 100%;
}

.layout {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layout,
.side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.side.collapse {
    -ms-flex-preferred-size: 52px;
    flex-basis: 52px;
}

.side.collapse .icon {
    font-size: 18px;
}

.side.collapse .menu>a>span {
    display: inline-block;
    max-width: 0;
    opacity: 0;
}

.side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    height: 100%;
    overflow-x: hidden;
    background-color: #f8f8f9;
    -webkit-box-shadow: 1px 0 0 #f2f2f3;
    box-shadow: 1px 0 0 #f2f2f3;
    -webkit-transition: -webkit-flex-basis .2s linear;
    transition: -webkit-flex-basis .2s linear;
    transition: flex-basis .2s linear;
    transition: flex-basis .2s linear, -webkit-flex-basis .2s linear, -ms-flex-preferred-size .2s linear;
}

.userinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 10px;
    cursor: pointer;
}

.userinfo .logo {
    line-height: 1;
    padding: 1px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
}

.userinfo .prefix {
    transform: scale(1);
    position: absolute;
    display: inline-block;
    left: calc(50% - 5px);
}

.userinfo .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #1c2438;
}

.userinfo .name>span {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}

.avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
}

.menu+.menu {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #e9eaec;
}

.side .navgation {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.side .menu>a {
    display: block;
    padding: 8px 14px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    color: #495060;
}

.side .menu>a:hover {
    background-color: #f2f2f3;
}

.side .menu>a.active {
    color: #fff;
    background-color: rgba(45, 140, 240, .76);
}

.side .icon {
    font-size: 16px;
    width: 24px;
    text-align: center;
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.side .bottom {
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #f2f2f3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: margin-left .2s linear;
    transition: margin-left .2s linear;
}

.main .container {
    padding: 10px 40px;
}

.section {
    padding: 30px 20px;
}

.section h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, .2);
}

.section+.section {
    border-top: 1px solid #e9eaec;
}

.section .content {
    margin-top: 40px;
}

.section .post-item {
    padding: 15px 0;
}

.two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.two-column-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 40px;
}

.post-item+.post-item {
    border-top: 1px solid rgba(0,0,0,.04);
}

.post-item-link, .post-item-link span, .post-item-link strong {
    display: block;
}

.post-item-link strong {
    font-size: 24px;
}

.post-item-link span {
    font-size: 18px;
    color: #495060;
}

.post-item-info {
    font-size: 14px;
    margin-top: 6px;
    color: #80848f;
}

.post-item-views {
    white-space: nowrap;
    padding: 0 15px;
    color: rgba(0,0,0,.24);
}

.post-item-views strong{
    font-size: 24px;
    color: rgba(0,0,0,.62);
}

.post-item-info a+span:before, .post-item-info span:after {
    content: "/";
    margin: 0 6px;
}

h1, h2, h3, h4, h5, strong {
    color: #1c2438;
}