* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:after, :before {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    color: #495060;
}

a {
    color: #2d8cf0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #57a3f3;
}

h1,
h2,
h3,
h4,
h5,
strong {
    color: #1c2438;
}

#app,
.layout,
body,
html {
    width: 100%;
    height: 100%;
}

.layout {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layout,
.side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.side.collapse {
    -ms-flex-preferred-size: 52px;
    flex-basis: 52px;
}

.side.collapse .icon {
    font-size: 18px;
}

.side.collapse .menu>a>span {
    display: inline-block;
    max-width: 0;
    opacity: 0;
}

.side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
    flex: 0 0 220px;
    height: 100%;
    overflow-x: hidden;
    background-color: #f8f8f9;
    -webkit-box-shadow: 1px 0 0 #f2f2f3;
    box-shadow: 1px 0 0 #f2f2f3;
    -webkit-transition: -webkit-flex-basis .2s linear;
    transition: -webkit-flex-basis .2s linear;
    transition: flex-basis .2s linear;
    transition: flex-basis .2s linear, -webkit-flex-basis .2s linear, -ms-flex-preferred-size .2s linear;
}

.userinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 10px;
    cursor: pointer;
}

.userinfo .logo {
    line-height: 1;
    padding: 1px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
}

.userinfo .prefix {
    transform: scale(1);
    position: absolute;
    display: inline-block;
    left: calc(50% - 5px);
}

.userinfo .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #1c2438;
}

.userinfo .name>span {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}

.avatar {
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
}

.menu+.menu {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #e9eaec;
}

.side .navgation {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.side .menu>a {
    display: block;
    padding: 8px 14px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    color: #495060;
}

.side .menu>a:hover {
    background-color: #f2f2f3;
}

.side .menu>a.active {
    color: #fff;
    background-color: rgba(45, 140, 240, .76);
}

.side .icon {
    font-size: 16px;
    width: 24px;
    text-align: center;
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.side .bottom {
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #f2f2f3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: margin-left .2s linear;
    transition: margin-left .2s linear;
}

.main .container {
    padding: 10px 40px;
}

.section {
    padding: 30px 10px;
}

.section h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, .2);
}

.section+.section {
    border-top: 1px solid #e9eaec;
}

.section .content {
    margin-top: 40px;
}

.section .post-item {
    padding: 15px 0;
}

.two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.two-column-main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 40px;
}

.post-item+.post-item {
    border-top: 1px solid rgba(0, 0, 0, .04);
}

.post-item-link,
.post-item-link span,
.post-item-link strong {
    display: block;
}

.post-item-link strong {
    font-size: 24px;
}

.post-item-link span {
    font-size: 18px;
    color: #495060;
}

.post-item-info {
    font-size: 14px;
    margin-top: 6px;
    color: #80848f;
}

.post-item-views {
    white-space: nowrap;
    padding: 0 15px;
    color: rgba(0, 0, 0, .24);
}

.post-item-views strong {
    font-size: 24px;
    color: rgba(0, 0, 0, .62);
}

.post-item-info span+a:before,
.post-item-info span+span:before {
    content: "/";
    margin: 0 6px;
}

.writer-head {
    padding: 10px 20px;
    border-bottom: 1px solid #e9eaec;
}

.writer-head:after {
    display: table;
    content: '';
    clear: both;
}

.writer-head-left {
    float: left;
}

.writer-head-content {
    float: right;
}

.navigate-back {
    display: inline-block;
    vertical-align: middle;
}

.navigate-back > span {
    color: #495060;
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;
}

.navigate-back .icon {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 24px;
    color: #495060;
    border: 1px solid #495060;
    border-radius: 100%;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 15px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-transition: color .2s linear,background-color .2s linear,border .2s linear;
    transition: color .2s linear,background-color .2s linear,border .2s linear;
    color: #495060;
    background-color: #f7f7f7;
    border-color: #dddee1;
}

.btn:hover {
    color: #6d7380;
    background-color: #f9f9f9;
    border-color: #e4e5e7;
}

.btn, .btn:active, .btn:focus {
    outline: 0;
}

.btn+.btn {
    margin-left: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.btn-primary:hover {
    color: #fff;
    background-color: #57a3f3;
    border-color: #57a3f3;
}

.btn-ghost {
    color: #495060;
    background-color: transparent;
    border-color: #dddee1;
}

.btn-ghost:hover {
    color: #57a3f3;
    background-color: transparent;
    border-color: #57a3f3;
}

.btn-text {
    color: #495060;
    background-color: transparent;
    border-color: transparent;
}

.btn-text:hover {
    color: #57a3f3;
    background-color: transparent;
    border-color: transparent;
}

.btn-error {
    color: #fff;
    background-color: #ed3f14;
    border-color: #ed3f14;
}

.btn-error:hover {
    color: #fff;
    background-color: #f16543;
    border-color: #f16543;
}

.btn-icon-only {
    padding: 6px 8px;
    font-size: 14px;
}

.writer-main {
    padding: 30px 20px;
    max-width: 960px;
    margin: 0 auto;
}

.writer-main .post-field input {
    border: 0;
    outline: 0;
    width: 100%;
}

.writer-main .title {
    font-weight: 600;
    font-size: 24px;
    font-family: inherit;
    color: rgba(0,0,0,.98);
    margin-bottom: 6px;
}

.writer-main .headline {
    font-size: 20px;
    font-weight: 300;
    color: rgba(0,0,0,.42);
    margin-bottom: 16px;
}

.writer-main .markdown-area {
    display: block;
    min-height: 200px;
    font-size: 16px;
    font-family: inherit;
    overflow-x: hidden;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
    background-color: transparent;
}

.navigation {
    padding: 0 40px;
    border-bottom: 1px solid #e9eaec;
}

.navigation a.router-link-active {
    color: #2d8cf0;
    border-color: #2d8cf0;
}

.navigation a {
    display: inline-block;
    padding: 20px;
    color: #495060;
    border-bottom: 2px solid transparent;
}

.navigation a:hover {
    color: #2d8cf0;
}

.navigation .two-column-action {
    padding: 14px 0;
}


.side-overlay-main {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 100;
    background-color: #fcfcfc;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease;
}

.side-overlay-head {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    color: #495060;
    font-size: 14px;
    position: relative;
    z-index: 900;
    height: 60px;
    line-height: 60px;
    background: #fff;
}

.side-overlay-head:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #dddee1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.side-overlay-head li {
    height: inherit;
    line-height: inherit;
    border-bottom: 2px solid transparent;
    color: #495060;
    float: left;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: all .2s ease-in-out;
    display: block;
    outline: 0;
    list-style: none;
    font-size: 14px;
}

.side-overlay-head li:hover, .side-overlay-head .react-tabs__tab--selected {
    color: #2d8cf0;
    border-bottom: 2px solid #2d8cf0;
}

.side-overlay-content {
    height: 100%;
    box-sizing: border-box;
}

.side-overlay-action {
    padding: 10px 15px;
}

.side-overlay-view {
    flex-grow: 1;
    padding: 10px 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.post-meta .side-overlay-view {
    border-top: 1px solid #e9eaec;
}

.side-overlay-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
}

.photo-chooser-grid {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
}

.photo-chooser-grid li {
    display: inline-block;
    width: 33.33%;
    border: 1px solid transparent;
    border-bottom-width: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.photo-chooser-grid li > span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    padding-bottom: 75%;
    vertical-align: middle;
}

.photo-chooser-grid img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.photo-chooser-grid li.active > span:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #2d8cf0;
    z-index: 1;
}

.form-field {
    display: block;
    color: #8492a6;
    margin-bottom: 20px;
}

.form-field label {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 6px 1px;
}

.form-field-input {
    display: block;
    background: #fff;
    font-weight: 300;
    border: 1px solid #e5e9f2;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    outline: none;
    cursor: text;
    width: 100%;
    line-height: 1;
    padding: 7px;
}

textarea.form-field-input {
    height: 100px;
}

.meta-form {
    max-width: 400px;
}

.tag {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 8px 8px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: 20px;
    height: 22px;
    padding: 0 7px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    font-size: 12px;
    -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1;
    cursor: pointer;
    white-space: nowrap;
}

.tag:hover {
    opacity: 0.85;
}

.tag-checked {
    background-color: #2d8cf0;
    border-color: transparent;
    color: #fff;
}

.page-form textarea {
    min-height: 400px;
}

.page-card {
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    width: 290px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    color: #303133;
    display: inline-block;
    margin: 5px;
}

.page-card .header {
    font-size: 16px;
}

.page-card .content {
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    height: 140px;
}

.page-card .meta {
    margin-top: 5px;
    color: rgba(0, 0, 0,.4);
}

.page-card .description {
    margin-top: 5px;
    color: rgba(0,0,0,.68);
}

.page-card .extra {
    max-width: 100%;
    flex-grow: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    box-shadow: none;
}

/*ul.tabs-nav.nav.navbar-nav.navbar-left {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.tab {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

a.tab-link.custom-link {
    background: #6161a7;
    color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}

a.tab-link.custom-link.active {
    background: #969696;
}*/


@media (max-width: 840px) {
    .main .container {
        padding: 20px 15px;
    }

    .section {
        padding: 20px 0;
    }

    .navigation {
        padding: 0 15px;
    }

    .navigation a {
        padding: 20px 10px;
    }
}