html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
    font-family: sans-serif;
/*    font-weight: 200;*/
    letter-spacing: 0.01em;
}

a {
    color: rgba(0,0,0,.68);
/*    color: #217ac0;*/
    text-decoration: none;
}
a:hover, a:focus {
    color: rgba(0,0,0,.86);
}

::selection, .wrapper ::selection {
    background-color: #333;
    color: #f9f9f9;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: .5em;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    margin: 0 auto;
    zoom: 1;
 }

.wrapper:after {
    display: table;
    content: "";
    clear: both;
}

.dashboard .wrapper {
    padding: 0 .5em;
}


/* message */
.message {
    font-family: Consolas,Monaco,"Courier New",monospace;
    font-size: 14px;
    line-height: 20px;
    background: #e0e1e1;
    color: #313439;
    padding: 1rem;
    padding-right: 2.5em;
    padding-bottom: .75rem;
    margin-bottom: 24px;
    position: relative;
}

.message a {
    color: inherit;
}

.message h2,.message h3,.message h4,.message h5,.message h6 {
    margin-bottom: 0;
}

.message .close {
    position: absolute;
    right: 1rem;
    top: 1.1rem;
}

.message.error {
    background: #f03c69;
    color: #fff;
}

.message.success {
    background: #35beb1;
    color: #fff;
}

.message.warning {
    background: #f7ba45;
}

.message.focus {
    background: #1c86f2;
    color: #fff;
}

.message.black {
    background: #0d0d0e;
    color: #fff;
}

.message.inverted {
    background: #fff;
}


/* header */
.header {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.header .pure-menu-has-children>.pure-menu-link:after {
    padding: 0;
    content: ''
}

.header .pure-menu-children {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.header .menu-profile .gravatar {
    border-radius: 15px;
    margin-top: 3px;
}

.header .menu-profile .pure-menu-children {
    left: -16px;
}

.inverted {
    background-color: #292d33;
}

.inverted a {
    color: #bbb;
}

.inverted .pure-menu-active>.pure-menu-link, .inverted .pure-menu-link:hover, .inverted .pure-menu-link:focus {
    background-color: #202328;
    color: #fff;
}

.inverted .pure-menu-children {
    background-color: #292d33;
}

.inverted .pure-menu-selected .pure-menu-link {
    color: #fff;
}

.dashboard {
    margin: 1em 0 2em;
}

.menu-dashboard {
    float: left;
}

.menu-profile {
    float: right;
}

.dashboard section {
    padding-bottom: 20px;
}

.dashboard ul {
    list-style: none;
    padding: 0;
}

.dashboard li {
    margin-bottom: 5px;
}

.welcome-board {
    color: #999;
}

.welcome-board em{
    color: #444;
    font-size: 1.75em;
}

.welcome-board li {
    float: left;
    margin-right: 1.5em;
}

.latest-link {
    float: left;
}

.latest-link li {
    padding: .3em 0;
}

.latest-link span {
    display: inline-block;
    margin-right: 12px;
    color: #999;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  empty-cells: show;
  font-size: 15px;
  line-height: 24px; }

table caption {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #676b72; }

th {
  text-align: left;
  font-weight: 700;
  vertical-align: bottom; }

td {
  vertical-align: top; }

tr.align-middle td,
td.align-middle {
  vertical-align: middle; }

th,
td {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }

tfoot th,
tfoot td {
  color: rgba(49, 52, 57, 0.5); }

table.unstyled td,
table.unstyled th {
  border: none;
  padding: .7rem .7rem;
}

.pagination {
  margin: 24px 0;
  font-size: 14px; }
  .pagination ul {
    display: flex;
    margin: 0; }
  .pagination.align-center ul {
    justify-content: center; }
  .pagination span,
  .pagination a {
    border-radius: 3px;
    display: inline-block;
    padding: 8px 12px;
    line-height: 1;
    white-space: nowrap;
    border: 1px solid transparent; }
  .pagination a {
    text-decoration: none;
    color: #313439; }
    .pagination a:hover {
      color: rgba(0, 0, 0, 0.5);
      border-color: #e0e1e1; }
  .pagination span,
  .pagination li.active a {
    color: rgba(0, 0, 0, 0.5);
    border-color: #e0e1e1;
    cursor: text; }
  .pagination.upper {
    font-size: 12px; }

.list-table .post-delete {
    width: 4em;
}

.list-table .post-delete a{
    display: none;
}

.list-table tr:hover .post-delete a {
    display: inline;
}


/* Profile */
.vcard {
    margin: 1.2em 2em 0 0;
    float: right
}

.vcard img{
    border-radius: 5px;
}


/* Post */

.post-form .post-form-field input {
    border: 0;
    outline: 0;
    width: 100%;
}

.post-form .headline {
    font-size: 20px;
    font-weight: 300;
    color: rgba(0,0,0,.42);
    margin-bottom: 16px; 
}

.post-form .title {
    font-weight: 600;
    font-size: 24px;
    font-family: inherit;
    color: rgba(0,0,0,.98);
    margin-bottom: 6px;
}

/*.post-form textarea {
    display: block;
    font-size: 16px;
    font-family: inherit;
    line-height: 22px;
    overflow-x: hidden;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 0 60px;
    background-color: transparent;
}*/


/* metas */

span.tag {
    font-size: 12px;
    display: inline-block;
    line-height: 20px;
    border-radius: 20px;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.04);
    cursor: pointer;
    margin: 3px 2px;
}