{% extends "base.html" %}

{% block title %}UP1AND{% endblock %}

{% block content %}
<div class="posts pure-g">
    <div class="wrapper pure-u-3-5">
    {% for year, posts in posts|groupby('created.year') %}
        <div class="post">
            <div class="post-year">{{ year }}</div>
            <ul class="post-list">
            {% for post in posts %}
                <li>
                <time class="post-time">{{ post.created|strftime}}</time>
                <span>—</span>
                <a href="#">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
