<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='doge.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Slab:700' rel='stylesheet' type='text/css'>

</head>
<body>

            {% block content %}{% endblock %}

</body>
</html>