<div class="footer pure-g">
    <div class="wrapper pure-u-1 pure-u-md-4-5 pure-u-lg-3-5">
        <p> 
            Copyright ©2017 Up1and Powered by <a class="banquan" href="https://github.com/pallets/flask">Flask</a>
            <span style="float: right">
                {% if current_user.is_authenticated %}
                {{ current_user.username }} -
                <a href="{{ url_for('dashboard.index') }}">Dashboard</a> / 
                <a href="{{ url_for('main.logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('main.login') }}">Login</a>
                {% endif %}
            </span>
        </p>
    </div>
</div>