{% extends "base.html" %}
{% import "_pagination.html" as macros %}

{% block title %}UP1AND{% endblock %}

{% block content %}
<div class="content list">
{% for post in posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.created|strftime }}</time>
    </div>
  </div>
{% endfor %}
{{ macros.widget(pagination, 'main.index') }}
</div>
{% endblock %}
