{% extends "base.html" %}

{% block title %}UP1AND{% endblock %}

{% block content %}
        <div class="wrapper">
            <div class="section">
                <h1 id="logo">Up1and.In</h1>
                <div class="seprator"></div>
                <div class="main-content">
                    <h2>{ 哪有什么诗和远方啊</h2>
                    <h2>牛肉罐头就是最伟大的航路呀</h2>
                    <h2>除了啃骨头没有什么算劳动啊</h2>
                    <h2>只有人类才操心明天 }</h2>
                    <div class="empty"></div>
                </div>
            </div>
        </div>
{% endblock %}
